.project
.metadata
.idea
.classpath
*.iml
*.DS_Store
.settings/
target/
*/target
tomcat.*/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
spider-*/config/
spider-*/.externalToolBuilders/
spider-*/bin/
spider-*/.project
spider-*/.classpath
spider-*/.idea
bin/